{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Review</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            padding: 0;
            background-image: url('{% static "image/index.jpg" %}');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        main {
            flex: 1;
        }

        footer {
            flex-shrink: 0;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'moviereviewapp:index' %}">Movie Review</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'moviereviewapp:index' %}">Home <span
                            class="sr-only">(current)</span></a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'moviereviewapp:add_movie' %}">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'moviereviewapp:logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'moviereviewapp:view_profile' %}">Profile</a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'moviereviewapp:login' %}">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'moviereviewapp:register' %}">Register</a>
                </li>
                {% endif %}

            </ul>

           <form class="form-inline my-2 my-lg-0" action="{% url 'moviereviewapp:SearchResult' %}" method="get">
                {% csrf_token %}
                <input type="search" placeholder="Search" name="q" aria-label="Search" class="form-control mr-sm-2">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <span class="fas fa-search"></span>
                </button>
            </form>

        </div>
        {% if user.is_authenticated %}
                    <h3 style="color: white;">Hello Wellcome,{{user.username}}</h3>
        {% endif %}
    </nav>

    <main>
        {% block body %}
        {% endblock %}
    </main>

    <footer>
        {% include 'footer.html' %}
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
